# This requirements file is only for development-specific dependencies.
# All execution dependencies must go in the pyproject.toml file.

# Install the local package in editable mode
-e .

pytest>=9.0.0,<10
pytest-cov>=7.0.0,<8
